<div class="container">
    <h2 class="text-center">My Info</h2>
    
    <div ng-if="!myInfoCtrl.user" class="text-center">
      Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a>
    </div>
  
    <div ng-if="myInfoCtrl.user" class="row">
      <div class="col-md-6">
        <h3>User Information</h3>
        <p><strong>First Name:</strong> {{myInfoCtrl.user.firstName}}</p>
        <p><strong>Last Name:</strong> {{myInfoCtrl.user.lastName}}</p>
        <p><strong>Email:</strong> {{myInfoCtrl.user.email}}</p>
        <p><strong>Phone:</strong> {{myInfoCtrl.user.phone}}</p>
      </div>
  
      <div class="col-md-6" ng-if="myInfoCtrl.user.favoriteItemDetails">
        <h3>Favorite Menu Item</h3>
        <img ng-src="{{myInfoCtrl.user.favoriteItemDetails.image_url}}" 
             alt="{{myInfoCtrl.user.favoriteItemDetails.name}}"
             class="img-responsive">
        <h4>{{myInfoCtrl.user.favoriteItemDetails.name}}</h4>
        <p>{{myInfoCtrl.user.favoriteItemDetails.description}}</p>
      </div>
    </div>
  </div>