<div class="container">
    <h2 class="text-center">Sign up for our Newsletter!</h2>
    
    <form name="signUpForm" novalidate ng-submit="signUpCtrl.submit()">
      <div class="form-group">
        <label>First Name</label>
        <input type="text" 
               name="firstName" 
               class="form-control" 
               ng-model="signUpCtrl.user.firstName"
               required>
        <span ng-if="signUpForm.firstName.$error.required && signUpForm.firstName.$touched">
          First Name is required
        </span>
      </div>
  
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" 
               name="lastName" 
               class="form-control" 
               ng-model="signUpCtrl.user.lastName"
               required>
        <span ng-if="signUpForm.lastName.$error.required && signUpForm.lastName.$touched">
          Last Name is required
        </span>
      </div>
  
      <div class="form-group">
        <label>Email</label>
        <input type="email" 
               name="email" 
               class="form-control" 
               ng-model="signUpCtrl.user.email"
               required>
        <span ng-if="signUpForm.email.$invalid && signUpForm.email.$touched">
          Must be a valid email
        </span>
      </div>
  
      <div class="form-group">
        <label>Phone Number</label>
        <input type="tel" 
               name="phone" 
               class="form-control" 
               ng-model="signUpCtrl.user.phone"
               pattern="[0-9]{10}"
               required>
        <span ng-if="signUpForm.phone.$invalid && signUpForm.phone.$touched">
          Must be a valid phone number (10 digits)
        </span>
      </div>
  
      <div class="form-group">
        <label>Favorite Menu Item Code</label>
        <input type="text" 
               name="favoriteItem" 
               class="form-control" 
               ng-model="signUpCtrl.user.favoriteItem"
               ng-blur="signUpCtrl.validateMenuItem()"
               required>
        <span ng-if="signUpCtrl.menuItemNotFound">
          No such menu number exists
        </span>
      </div>
  
      <button type="submit" 
              class="btn btn-primary"
              ng-disabled="signUpForm.$invalid">Submit</button>
  
      <div ng-if="signUpCtrl.showMessage" class="alert alert-success">
        Your information has been saved
      </div>
    </form>
  </div>