<div class="container">
    <h2>My Information</h2>
    
    <div ng-if="!myInfoCtrl.user">
        <p>Not Signed Up Yet. 
           <a ui-sref="public.signup">Sign up Now!</a>
        </p>
    </div>

    <div ng-if="myInfoCtrl.user">
        <div class="user-info">
            <p><strong>First Name:</strong> {{myInfoCtrl.user.firstName}}</p>
            <p><strong>Last Name:</strong> {{myInfoCtrl.user.lastName}}</p>
            <p><strong>Email:</strong> {{myInfoCtrl.user.email}}</p>
            <p><strong>Phone:</strong> {{myInfoCtrl.user.phone}}</p>
        </div>

        <div class="favorite-item" ng-if="myInfoCtrl.favoriteItem">
            <h3>Your Favorite Menu Item</h3>
            <img ng-src="{{myInfoCtrl.favoriteItem.image_url}}" 
                 alt="{{myInfoCtrl.favoriteItem.name}}">
            <h4>{{myInfoCtrl.favoriteItem.name}}</h4>
            <p>{{myInfoCtrl.favoriteItem.description}}</p>
        </div>
    </div>
</div>
